fastapi
uvicorn[standard]
httpx
socksio
pydantic
pydantic-settings
SQLAlchemy
alembic
psycopg2-binary>=2.9,<3
python-multipart
requests
aiofiles
cryptography
python-bale-bot
python-telegram-bot>=22,<23
